.column {
    -fx-alignment: center;
}

.labelHeader {
    -fx-font-size:16px;
    -fx-font-weight:bolder;
    -fx-font-family:"Times New Roman";
    -fx-font-style:italic;
}

.main {
    -fx-background-color:lightgray;
}
